@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.card{
    /* other default style */
    width:100% !important;
   
   
    background-color: transparent;

    font-size :inherit;
    color:white !important;
    border-radius: 3% !important;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    
  }
  .btn{
          color: aliceblue !important;
          
           
          background-color: black;
           
  }
  .b1:hover{
    background-color: white;
    color:black !important;
    
  }

#result , #result1{
  color: white !important;
  align-items: center;
  text-align: center;
}
  
body{
  background-color: blue;
  font-family: 'Roboto', sans-serif;
 
  
}
li{
  font-size: larger !important;
}
@media screen and (min-width:420px) {
  form{
             width:100%;
             font-size:larger !important;
  }
  
}
